
		
	 li{
			
		    list-style: none;
		}
	#ull{
			display: flex;
			justify-content: space-around; 
			padding-left: 0px; 
		}
		
	#ull li img{
		   width: 30px;
		   height: 25px;
		   display: block;
		   margin-left: 10px;
		}
		#ull li img:nth-child(2){
			 width: 23px;
		}
		#div{
			height: 50px;
			width: 50px;
			background-color: orange;
			border-radius: 50%;
			text-align: center;
			position: fixed;
			margin-left: 40%;
			z-index: 99;
			margin-top: -20px;
		}
		#div span{
			display: block;
		}
		.ulul li span{
			display: block;
			width: 60px;
			height: 30px;
		}
		.ulul{
			padding: 0;
			background-color: white;
		}
		.icon {
		  width: 1em;
		  height: 1em;
		  vertical-align: -0.15em;
		  fill: currentColor;
		  overflow: hidden;
		}
		.head{
		   margin-top: -15px;
		   background-color: white;
		   padding-bottom: 10px;
		   
		}
		.head_ul li{
			height: 150px; 
			padding-top: 20px;
		}
		.jifen{
			display: flex;
			justify-content: space-between; 
			padding: 20px 50px;
		}
		.jifen div p:nth-child(1){
			font-weight: 700; 
			font-size: 20px;
		}
	